parameters:
    level: 9
    paths:
        - src/
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInMethodSignatures: true
    reportMaybesInPropertyPhpDocTypes: true
    reportStaticMethodSignatures: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    tipsOfTheDay: false
    ignoreErrors:
        - '#PHPDoc tag @var does not specify variable name.#'